*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #064DA7;
}

/*Time and Calendar*/
#main {
  color: #fff;
  font-family: sans-serif;
  margin: 2.5rem;
  text-align: center;
  /* text-shadow: 2px 2px 2px #a66e07;*/
  text-shadow: 0 2px 1px #910c88, -1px 3px 1px #720f5f, -2px 5px 1px #560a59;
}

#time {
  font-size: 2.5rem;
  font-weight: 500;
}

#date {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  display: block;
  margin-top: 1rem;
}

/*Todo Container*/
.container {
  width: 90%;
  max-width: 450px;
  margin: 2rem auto;
  background: #d8e6fa;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#newtask {
  position: relative;
  padding: 30px 20px;
}

#newtask input {
  width: 75%;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #0747A6;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}

#newtask input:focus {
  outline: none;
  border-color: #0074F7;
}

#newtask button {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color:#0567AF ;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#newtask button:hover{
  background-color: #0747A6;
}

#tasks {
   background-color: #ffffff;
   padding: 30px 20px;
   margin-top: 10px;
   width: 100%;
   position: relative;
   overflow: scroll;
   max-height: 350px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.task {
  background-color:#e6eef9 ;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #89b7fc ;
  cursor:context-menu;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.task:hover{
  background: #aecbf5;
}

.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task button {
   background-color: #0567AF;
   color: #ffffff;
   height: 100%;
   width: 40px;
   border: none;
   cursor: pointer;
   outline: none;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
}

.task button:hover{
  background-color: #fff;
  color: #0567AF;
}
